@using RVCA_base2.Models;
@model UkFundData
@{
    Layout = null;
}

<form action="@ViewData["SubmitUrl"].ToString()" method="post">
    <div class="row">
        <div class="col-md-4">
            <b>Название</b>
        </div>
        <div class="col-md-4">
            <b>Год основания</b>
        </div>
        <div class="col-md-4">
            <b>Тип</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="text" name="Name" id="Name" value="@Model.Name" style="width:100%" />
        </div>
        <div class="col-md-4">
            <input type="text" name="Year" id="Year" value="@Model.Year" style="width:100%" />
        </div>
        <div class="col-md-4">
            <input type="text" name="Type" id="Type" value="@Model.Type" style="width:100%" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <b>Статус</b>
        </div>
        <div class="col-md-4">
            <b>Целевой размер</b>
        </div>
        <div class="col-md-4">
            <b>Размер закрытия</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="text" name="Status" id="Status" value="@Model.Status" style="width:100%" />
        </div>
        <div class="col-md-4">
            <input type="text" name="TargetValue" id="TargetValue" value="@Model.TargetValue" style="width:100%" />
        </div>
        <div class="col-md-4">
            <input type="text" name="ClosingValue" id="ClosingValue" value="@Model.ClosingValue" style="width:100%" />
        </div>
    </div>
    <br />
    <center>
        <input type="submit" value="Сохранить" class="btn btn-info"  onclick="testVersionReminder();" />
    </center>
</form>

<script>
    function testVersionReminder()
    {
        alert('Внесенные изменения в режиме Прототипа - не сохраняются!');
    }
</script>