@using RVCA_base2.Models;
@model CabinetUkData
@{
    ViewBag.Title = "Личный кабинет УК - Редактирование основных характеристик";
}
<style>
    table tr {
        padding-bottom: 5px;
    }

    @@media screen and (max-width: 650px) {

        table.controlsTable tr {
            display: block !important;
        }
    }
</style>
<form action="/cabinet/uk/@Model.id/editmaindetails/" method="post">
    <table class="controlsTable" width="100%">
        <tr>
            <td class="col-sm-3">Дата начала фандрайзинга:</td>
            <td class="col-sm-3"><input type="text" name="FundrisingStartDate" id="FundrisingStartDate" value="@Model.FundrisingStartDate" /></td>

            <td class="col-sm-3">Статус УК:</td>
            <td class="col-sm-3"><input type="text" name="UKStatus" id="UKStatus" value="@Model.UKStatus" /></td>
        </tr>
        <tr>
            <td class="col-sm-3">Общее число портфельных фондов:</td>
            <td class="col-sm-3"><input type="text" name="TotalPortfolioFunds" id="TotalPortfolioFunds" value="@Model.TotalPortfolioFunds" /></td>

            <td class="col-sm-3">Текущее число портфельных фондов:</td>
            <td class="col-sm-3"><input type="text" name="CurrentPortfolioFunds" id="CurrentPortfolioFunds" value="@Model.CurrentPortfolioFunds" /></td>
        </tr>
        <tr>
            <td class="col-sm-3">Общий капитал портфельных фондов:</td>
            <td class="col-sm-3"><input type="text" name="TotalCapitalOfPortfolioFunds" id="TotalCapitalOfPortfolioFunds" value="@Model.TotalCapitalOfPortfolioFunds" /></td>

            <td class="col-sm-3">Текущий капитал проинвестированных фондов:</td>
            <td class="col-sm-3"><input type="text" name="CurrentCapitalOfInvestmentFunds" id="CurrentCapitalOfInvestmentFunds" value="@Model.CurrentCapitalOfInvestmentFunds" /></td>
        </tr>
        <tr>
            <td class="col-sm-3">Общее число проинвестированных проектов:</td>
            <td class="col-sm-3"><input type="text" name="CountOfInvesmentProjects" id="CountOfInvesmentProjects" value="@Model.CountOfInvesmentProjects" /></td>

            <td class="col-sm-3">Примеры инвесторов:</td>
            <td class="col-sm-3"><input type="text" name="SampleInvestors" id="SampleInvestors" value="@Model.SampleInvestors" /></td>
        </tr>
        <tr>
            <td class="col-sm-3">Географический охват:</td>
            <td class="col-sm-3"><input type="text" name="GeographicalStrategy" id="GeographicalStrategy" value="@Model.GeographicalStrategy" /></td>

            <td class="col-sm-3">Географический фокус:</td>
            <td class="col-sm-3"><input type="text" name="GeographicalCut" id="GeographicalCut" value="@Model.GeographicalCut" /></td>
        </tr>
        <tr>
            <td class="col-sm-3">Региональный фокус:</td>
            <td class="col-sm-3"><input type="text" name="RegionalFocus" id="RegionalFocus" value="@Model.RegionalFocus" /></td>

            <td class="col-sm-3"></td>
            <td class="col-sm-3"></td>
        </tr>
    </table>
    <input type="submit" value="Сохранить" class="btn btn-info" onclick="testVersionReminder();" />
</form>

<script>
    function testVersionReminder() {
        alert('Внесенные изменения в режиме Прототипа - не сохраняются!');
    }
</script>