@using RVCA_base2.Models;
@model CabinetUkData
@{
    ViewBag.Title = "Личный кабинет УК - Редактирование подробной информации";
}
<style>
        table tr {
        padding-bottom:5px;
    }

     @@media screen and (max-width: 650px) {

                table.controlsTable tr {
                    display: block !important;
                }

    }
</style>

    <form action="/cabinet/uk/@Model.id/editdetails/" method="post">
        <table class="controlsTable" width="100%">
            <tr>
                <td class="col-sm-3">Страна расположения головного офиса:</td>
                <td class="col-sm-3"><input type="text" name="HeadOfficeCountry" id="HeadOfficeCountry" value="@Model.HeadOfficeCountry" /></td>

                <td class="col-sm-3">Юрисдикция:</td>
                <td class="col-sm-3"><input type="text" name="Jurisdiction" id="Jurisdiction" value="@Model.Jurisdiction" /></td>
            </tr>
            <tr>
                <td class="col-sm-3">Адрес головного офиса:</td>
                <td class="col-sm-3"><input type="text" name="HeadOfficeAddress" id="HeadOfficeAddress" value="@Model.HeadOfficeAddress" /></td>

                <td class="col-sm-3">Альтернативный офис:</td>
                <td class="col-sm-3"><input type="text" name="AlternateOfficeAddress" id="AlternateOfficeAddress" value="@Model.AlternateOfficeAddress" /></td>
            </tr>
            <tr>
                <td class="col-sm-3">URL:</td>
                <td class="col-sm-3"><input type="text" name="Url" id="Url" value="@Model.Url" /></td>

                <td class="col-sm-3">E-Mail:</td>
                <td class="col-sm-3"><input type="text" name="Email" id="Email" value="@Model.Email" /></td>
            </tr>
            <tr>
                <td class="col-sm-3">Телефон:</td>
                <td class="col-sm-3"><input type="text" name="Phone" id="Phone" value="@Model.Phone" /></td>

                <td class="col-sm-3"></td>
                <td class="col-sm-3"></td>
            </tr>
        </table>
        <input type="submit" value="Сохранить" class="btn btn-info" onclick="testVersionReminder();" />
    </form>

    <script>
        function testVersionReminder()
        {
            alert('Внесенные изменения в режиме Прототипа - не сохраняются!');
        }
    </script>